/*********************/

/* Orange color:#fc4a1a */

/***************************
******  Basic steps  ******
***************************/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  background: #f7971e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd200, #f7971e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd200, #f7971e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/********************************
    Reusable componentes
********************************/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}
section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/*--------------------------*/

/* Animations */

/*--------------------------*/

/* .js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  animation-duration: 1s;
}

.js--wp-4 {
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-1.animated,
.js--wp-1.animated {
  opacity: 1;
} */

/********************************
           Headings  
********************************/

h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 500%;
  text-align: center;
  word-spacing: 4px;
  font-weight: 100;
  letter-spacing: 30px;
  text-shadow: 3px 3px 8px #000;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #fff;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 12px;
  margin-top: 14px;
  text-align: center;
}

.skill-h3 {
  text-align: left;
  color: #e53935;
}

.h2-blue-background {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
}

.h2-blue-background:after {
  display: block;
  height: 2px;
  background-color: #fff;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.icon-big {
  font-size: 350%;
  display: block;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.playIcon {
  font-size: 22px;
}
/********************************
          Paragraphs  
********************************/

p {
  font-size: 100%;
  font-weight: 300;
  word-spacing: 2px;
  text-align: center;
}

.long-copy {
  line-height: 145%;
  margin-bottom: 20px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.questions {
  float: left;
}

.bio-pragraph {
  text-align: center;
}

.fullscreen-bg__video {
  left: 0;
  display:block;
  width: 106%;
  height: auto;
  position: absolute;
  margin-top: -84px;
  /* background: linear-gradient(to right, #0f202748, #203a434d, #2c5364); */
}

#about {
  width: 100%;
  overflow: hidden;
  display: block;
  height: 400px;
  position: relative;
}

.about-h2 {
  margin-top: 80px;
}

.bioPart {
  padding: 0;
}

.bio-text {
  position: absolute;
  z-index: 222;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #ffd00078, #f7951e7a);
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

.clock {
  position: relative;
  /* top: 25%;
  left: 19%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  /* margin-top: 30px; */
  margin-left: 30px;
  left: 15%;
  width: 70%;
  color: #fff;
}

.clock li {
  list-style: none;
}

.hour .countDown {
  position: absolute;
  text-decoration: none;
  list-style: none;
  margin-top: 5px;
  text-align: left;
}

.loader {
  border: 2px solid #e53935;
  border-top: 2px solid #ffd200;
  border-bottom: 2px solid #ffd200;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/********************************
          Links  
********************************/

a:link,
a:visited {
  /* color: #22cfe6; */
  color: #ffd200;
  text-decoration: none;
  padding-bottom: 1px;
  /* border-bottom: 1px solid #2270e6; */
  /* border-bottom: 1px solid #2270e6; */
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #e53935;
  border-bottom: 1px solid transparent;
}

/********************************
           Buttons
********************************/

.button-container {
  position: relative;
}

.button-couple {
  position: absolute;
  text-align: center;
  width: 70%;
  left: 15%;
  margin-top: -40px;
  /* width: 20% auto 20%; */
  /* top: 50%;
  left: 49%; */
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  float: left;
  width: 40%;
  left: 30%;
}

.getInfo {
  margin-top: 20px;
  width: 60%;
  left: 20%;
  position: absolute;
}

.getInfo button {
  width: 100%;
}

.btn:link,
.btn:visited,
input[type="submit"],
button[type="button"] {
  display: inline;
  text-align: center;
  padding: 10px 15px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background 0.2s, border 0.2s, color 0.2s;
  transition: background 0.2s, border 0.2s, color 0.2s;
  color: #fff;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active,
button[type="button"]:hover,
button[type="button"]:active {
  background-color: #2e71af;
  border: #2e71af solid 2px;
  /* background-color: #2e71af;
  border: #2e71af solid 2px; */
}

.btn-full:link,
.btn-full:visited,
input[type="submit"],
button[type="button"] {
  background-color: #ffd200;
  border: #ffd200 solid 2px;
  color: #000;
  /* background-color: #1c3669;
  border: #1c3669 solid 2px; */
  margin-right: 10px;
  width: 45%;
}

.btn-full:hover,
.btn-full:active {
  background-color: #e53935;
  border: #e53935 solid 2px;
  /* background-color: #2872af;
  border: #2e71af solid 2px; */
}

.btn-ghost:link,
.btn-ghost:visited {
  border: #ffd200 solid 2px;
  /* border: #2e71af solid 2px; */
  width: 45%;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #e53935;
  border: #e53935 solid 2px;
  /* background-color: #2e71af;
  border: #2e71af solid 2px; */
}

.tabLinks {
  float: left;
}
/********************************
        Background-colors
********************************/

.black {
  background: #000;
}

.blue-gradient-topToBottom {
  background: #e74c3c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000000, #e74c3c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #e74c3c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding-top: 21vh;
}

.blue-gradient-leftToRight {
  background: #e74c3c;
  color: #fff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#000000),
    to(#e74c3c)
  );
  background: linear-gradient(to right, #000000, #e74c3c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blue-gradient-leftToRight-transparency {
  background: #e74c3c;
  color: #fff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3a7bd552),
    to(#00d0ff2f)
  );
  background: linear-gradient(to right, #3a7bd552, #00d0ff2f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#3a7bd5),
      to(#00d0ff62)
    ),
    -webkit-gradient(linear, left top, right top, from(#3a7bd5dc), to(#00d0ff0e)),
    url(img/Background-Picture.JPG);
  background: linear-gradient(to top, #000000, #e74d3c2f),
    linear-gradient(to right, #000000, #e74d3c32),
    url(img/Background-Picture.JPG);
  /* background: linear-gradient(to bottom, #24FE41, #FDFC47); */
}

.progress-container {
  width: 100%;
  height: 6px;
  bottom: 0;
  background: #ccc;
  position: fixed;
  z-index: 333;
}

.progress-bar {
  height: 6px;
  background: #e53935;
  width: 0%;
  z-index: 3333;
}

/********************************
           Inputs  
********************************/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  background-color: #f1f1f1;
  width: 70%;
  border-radius: 10px;
  padding: 8px;
  float: left;
  margin-left: -10px;
}

input:focus {
  background-color: #feffee;
}

input[type="submit"] {
  float: left;
}

textarea {
  height: 100px;
}

/* input[type="checkbox"] {
  margin: 10px 5px 10px 0;
} */

/* 
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
} */

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/********************************
        navigation
********************************/

.logo {
  height: 60px;
  width: auto;
  float: left;
  margin-top: 40px;
  margin-left: 10px;
}

.main-nav {
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  float: left;
  display: inline-block;
  margin-left: 40px;
}

/* .main-nav li:nth-child(5) {
  float: right;
} */

/* .main-nav li:nth-last-child(0) {
  float: right;
} */

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 105%;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #fff;
}

/********************************
        sticky navigation
********************************/

.logo-sticky {
  display: none;
}

#navOne {
  top: -50px;
}

.sticky {
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #e53935, #e35d5b);
  border-bottom: 2px solid rgb(255, 217, 0);
  box-shadow: 0 1px 10px rgb(65, 65, 65);
  z-index: 999;
  transition: top 0.3s;
}

.sticky .logo {
  display: none;
}

.sticky .mobile-nav-icon {
  float: right;
}

.sticky .logo-sticky {
  display: block;
  height: 48px;
  width: auto;
  float: left;
  margin-top: 3px;
  margin-left: 0px;
}

.sticky .main-nav {
  list-style: none;
  margin-top: 15px;
}

.sticky .main-nav li {
  float: left;
  display: inline-block;
  margin-left: 40px;
}

/* .sticky .main-nav li:last-of-type {
  float: right;
} */

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 8px;
  padding-bottom: 11px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 105%;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

/* .navSide {
  padding: 8px;
  padding-bottom: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 105%;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
} */

.rotateIcon {
  transition: 0.2s;
  transform: rotate(45deg);
}

#openNavIcon {
  transition: 0.2s;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
  border-bottom: 2px solid #e53935;
}

/********************************
    sticky iconBar navigation  
********************************/

.iconBar {
  position: fixed;
  z-index: 999;
  top: 30%;
  right: 0;
  width: auto;
  height: auto;
}

.iconBar ul {
  background-color: rgb(31, 31, 31);
  padding: 3px;
  list-style: none;
  border-radius: 20px 0 0 20px;
}

.iconBar li {
  padding: 15px 0;
}

.iconBar li:hover {
}

.iconBar li a {
  color: rgb(255, 240, 154);
  text-align: center;
  font-size: 170%;
  border: 0;
  text-decoration: none;
  /* border-left: 2px solid transparent; */
}

.iconBar li a:hover,
.iconBar li a:active {
  color: #e53935;
  /* border-left: #fff solid 2px; */
}

.active {
  color: #b81b18;
}

.iconBar .active {
  color: #b81b18;
}

/********************************
        mobile navigation  
********************************/

/* Mobile navi */

.mobile-nav-icon {
    float: right;
    margin-top: 40px;
    cursor: pointer;
    display: none;
    width: 25px;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/********************************
           Header  
********************************/

header {
  height: 70vh;
  background-size: cover;
  background-position: 0% 40%;
}

.hero-text-box {
  position: absolute;
  width: 100%;
  margin-top: -103px;
  overflow-y: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}

/********************************
        Code-Pictures
********************************/

.section-code-pic {
  height: auto;
  padding: 0;
  padding-bottom: 23%;
}

.code-showCase {
  list-style: none;
  width: 100%;
}

.code-showCase li {
  display: block;
  float: left;
  width: 33.33%;
}

.code-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.code-photo img {
  width: 100%;
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.code-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/********************************
Things which is important to me
********************************/

.section-things {
}

.things-box {
  margin-top: 30px;
}

.things-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 40px;
}

.things-box:last-of-type {
  padding-left: 3%;
  margin-top: 40px;
}

.batman-logo {
  width: 70%;
  height: auto;
}

.thing-numbers {
  margin-bottom: 50px;
}

.thing-numbers div {
  color: #fff;
  display: inline-block;
  border: #fff 1px solid;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  float: left;
  font-size: 150%;
  padding: 5px;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 10px;
}

.thing-numbers p {
  text-align: left;
  padding-top: 10px;
  font-size: 120%;
}

.thing-numbers:last-of-type {
  margin-bottom: 80px;
}

/********************************
        section-friends
********************************/

/* .section-friends {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url("img/blue\ town.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/blue\ town.jpeg");
  background-position: center;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

.section-friends h2:after {
  background-color: #fff;
} */

blockquote {
  font-style: italic;
  line-height: 145%;
  padding: 2%;
  position: relative;
}

blockquote::before {
  content: "\201C";
  position: absolute;
  top: -5px;
  left: 5px;
  font-size: 500%;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/********************************
        section-contact
********************************/

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="checkbox"] {
  padding: 10px 5px 10px 0px;
}

*:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
}

.find-me {
  width: 87%;
  margin: 0;
}

.pad-around {
  padding: 3px 15px;
}

/* -----MAPS------- */

.map-box {
  width: 100%;
  height: auto;
  position: relative;
}

.map {
  width: 100%;
  height: 650px;
  position: relative;
  z-index: 0;
}

.form-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 650px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  padding-top: 40px;
  padding-bottom: 40px;
}

/******************************
        Sidenav
*******************************/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/******************************
     tab bar
*******************************/

.tabSection {
  height: 700px;
}

.tab {
  position: relative;
  width: 100%;
}

.tab .buttons {
  position: absolute;
  width: 95%;
  background-color: #f7971e;
  height: auto;
}

.tab button {
  background-color: inherit;
  border: 0;
  /* border-bottom: solid 1px #e53935; */
  padding: 10px;
  text-align: center;
  /* margin: -5px; */
}

.tab button:hover {
  color: #fff;
}

.content {
  position: relative;
  margin-top: 40px;
  position: relative;
}

.buttons .active {
  background-color: #e53935;
  color: #fff;
}

.content .tabContent {
  position: absolute;
  padding: 25px;
  top: 3px;
  /* display: none; */
  text-align: left;
  border: solid 1px #b81b18;
  width: 95%;
}

.cont {
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
  float: left;
  text-align: left;
  width: 100%;
}

/* Go from zero to full opacity */

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion {
  background-color: rgb(255, 82, 82);
  color: #fff;
  cursor: pointer;
  padding: 13px;
  width: 15%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  /* transition: 4s; */
  border-radius: 12px 12px 12px 12px;
}

.activeAccordion,
.accordion:hover {
  background-color: rgb(255, 57, 57);
}

.accordion:after {
  content: "\002B";
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activeAccordion:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: inherit;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  float: left;
  text-align: left;
}

/******************************
     search
*******************************/

#navScroll {
  position: relative;
}

.search {
  position: absolute;
  width: 180px;
  right: 25%;
  margin-top: -7px;
}

.search2 {
  /* float: right; */
  /* position: relative; */
  height: 20px;
}

.searchField {
  /* position: absolute; */
  width: 100px;
  height: 20px;
  border: 0;
  border-radius: 5px 0 0 5px;
  float: left;
  padding: 8px;
}

.searchButton {
  /* position: absolute; */
  background-color: #e53935;
  height: 36.5px;
  color: #fff;
  border: 0;
  padding: 5.8px;
  border-radius: 0 5px 5px 0;
}

/******************************
     dropdown
*******************************/

/* .dropdown {
  position: relative;
  z-index: 999999;
} */

.dropdown-content {
  position: absolute;
  background-color: #111;
  display: none;
}

/* 
.dropdown:active .dropdown-content {
  display: block;
} */

/********************************
        slideShow pictures
********************************/

.slideShowSection {
  position: relative;
  height: 435px;
  width: 100%;
}

.slideShow-container {
  max-width: 600px;
  width: 56%;
  position: absolute;
  left: 17%;
  right: 23%;
}

.mySlides {
  position: absolute;
  width: 100%;
}

.mySlides img {
  width: 100%;
}

.numberText {
  position: absolute;
  width: 12%;
  height: 40px;
  padding: 8px 12px;
  text-align: center;
  background-color: rgba(51, 0, 0, 0.514);
}

.mySlides .text {
  position: absolute;
  width: 20%;
  height: 40px;
  padding: 8px 12px;
  text-align: center;
  left: 41%;
  bottom: 4px;
  background-color: rgba(51, 0, 0, 0.514);
}

.slideShow-container a {
  color: #e53935;
  border: 0;
  transition: 0.2s;
}

.slideShow-container a:hover {
  color: #ffd200;
}

.prveNextClass {
  position: absolute;
  width: 100%;
  bottom: -389px;
}

.next {
  position: absolute;
  right: 0;
  font-size: 300%;
}

.prev {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 300%;
}

/* The dots/bullets/indicators */

.dots {
  position: relative;
  width: 53%;
  left: 20%;
  height: 23px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 1px;
  background-color: #e53935;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.dot:hover {
  background-color: #ffd200;
}

.activeDot {
  background-color: #ffd200;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Six columns side by side */

.under1 {
  height: 106px;
  position: relative;
  width: 80%;
}

.underPic {
  height: 85px;
  position: absolute;
  width: 70%;
  left: 26%;
}

.column {
  float: left;
  width: 14%;
}

.smallSlideShow {
  text-align: center;
  position: absolute;
  margin-top: 22px;
}

.cursor {
  cursor: pointer;
}

/* Add a transparency effect for thumnbail images */

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.myProgress {
  width: 100%;
  background-color: #ddd;
  border-radius: 12px 12px 12px 12px;
}

.myBar {
  width: 10%;
  height: 30px;
  background-color: #e53935;
  margin-bottom: 8px;
  color: #fff;
  text-align: right;
  padding: 1px 13px;
  line-height: 30px;
  border-radius: 12px 12px 12px 12px;
}

/*********************************/

/*********************************/

/*********************************/

.tooltip {
  /* position: relative; */
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 148px;
  font-size: 34%;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 108%;
  left: 25%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/********************/

/********************/

/********************/

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/********************************
          WORK EXAMPLES
********************************/
.workContainer {
  height: auto;
  width: 100%;
}

.workPartContainer {
    position: relative;
    padding-bottom: 15px;
}

.workImageContainer {
  position: absolute;
  width: 100%;
  left: 0;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 17px #000;
}

.workImageTitle {
  margin-top: 61%;
}

/********************************
          Footer
********************************/

footer {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
}
.social-icon{
    float: left;
    width: 32%;
}

.footerIconBar {
    width: 20%;
    height: 80px;
    padding-left: 10px;
}

.footerIcon {
  width: 60%;
  margin-left: 15px;
  font-size: 38px;
  margin-top: 18px;
}

.pWhite {
  color: #fff;
}
